/*-----------------------# Hero Section-----------------------------------*/

.hero-container {
    font-family: "Poppins";
    width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 30px;
  }
  
  .hero-left-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 30px;
  }
  
  .hero-right-section {
    max-width: 655px;
  }
  
  img.chef-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .strawberry-box {
    font-family: "Poppins";
    color: #f55556;
    background: rgba(253, 236, 236, 1);
    max-width: 214px;
    padding: 10px 0px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .strawberry-icon {
    width: 30px;
  }
  
  img.strawberry-img {
    width: 100%;
    height: 100%;
  }
  
  .groceries-title {
    max-width: 578px;
    font-size: clamp(35px, 9vw, 74px);
    font-weight: 700;
    line-height: clamp(45px, 9vw, 88px);
    letter-spacing: -1%;
  }
  
  .span2hours {
    font-weight: 500;
    letter-spacing: -5%;
    color: #f55556;
  }
  
  .groceries-description {
    max-width: 478px;
    margin-top: 30px;
    font-weight: 400;
    color: rgba(103, 103, 103, 1);
  }
  
  .order-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .ordernow-button {
    background-color: #f86061;
    border-radius: 12px;
    font-weight: 500;
    font-size: 20px;
    border: none;
    color: white;
    padding: 25px 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
  }
  
  .play-button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    gap: 20px;
  }
  
  .order-process {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .order-h3 {
    font-weight: 500;
  }